@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Login";
}

<div class="jumbotron">
    <h1>CoolBooks</h1>
    <p class="lead">Welcome to CoolBooks! Here you can find books that you <strong>will</strong> want to read</p>
    <p>Registered users can add books and reviews. Our administrators are experts on books. They constantly remove books. That is our strength, because here you will only find <strong>really</strong> cool books.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<h1> Login </h1>

<form>

    Username <input type='text' name='username'> <br>
    Password <input type='password' name='password'> <br>
    <input type='button' value='login'>
</form>

