@{
    ViewBag.Title = "Donate";
}
<h2>@ViewBag.Title.</h2>
<h3>
    The CoolBooks application is a free service and contains no advertising. For us to be able to develop and maintain the application, we are dependent on donations.
    Our average user is donating 1 BTC per month. But, you are much welcome to donate more. Of course this is optional, but as this is a very useful service you should consider to donate.
    <br />
    <br />
    Please send your donations to this bitcoin address: <strong>1ssPqH8DYUPwKuqkWiZWLqzRQE4uavAch</strong>
    <br />
    <br />
    <strong>Thank You!</strong>
</h3>

