@using CoolBooks.Models
@model IEnumerable<CoolBooks.Models.Books>
    @{ 
        Books bk = ViewData["Books"] as Books;
    }

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demon</title>
</head>
<body>

    <img src="~/Images/demon.png" alt="Demon" width="550" height="550">

</body>
    </html>